html(lang='en')
  head
    script#twitter-wjs(src='https://platform.twitter.com/widgets.js')
    script(src='https://consent.cookiebot.com/a28b71f3-4d2e-4eac-93bc-34929948dd7d/cc.js?renew=false&referer=circleci.com&dnt=false&forceshow=false&cbid=a28b71f3-4d2e-4eac-93bc-34929948dd7d&whitelabel=false&brandid=Cookiebot', type='text/javascript', charset='UTF-8', async='')
    script(type='text/javascript').
      window.thirdPartyIds = {
      quantcast: "p-amMve9wcqXH81"
      };
    script#Cookiebot(src='https://consent.cookiebot.com/uc.js', type='text/javascript', async='', data-cbid='a28b71f3-4d2e-4eac-93bc-34929948dd7d')
    script(src='https://cdn.optimizely.com/js/8188917468.js', type='text/plain', data-cookieconsent='statistics')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    link(title='Latest 10 blog posts (atom)', href='/blog/feed.xml', rel='alternate', type='application/rss+xml')
    link(href='https://d3r49iyjzglexf.cloudfront.net/favicon-066b37ff00f0f968b903c13ae88b5573b62665aea8fbe91bb61c55dfa9446523.ico', rel='icon', type='image/png')
    // adding canonical links, if they are specified in front matter /
    link(href='../stylesheets/vender1.css', rel='stylesheet', type='text/css')
    link(href='../stylesheets/vender_lity.css', rel='stylesheet', type='text/css')
    link(href='https://d3r49iyjzglexf.cloudfront.net/site-e1e90682e27ce8d36ecfc129588eb129f5a3b3024b51d828e844b17bc1994b01.css', rel='stylesheet', type='text/css')
    script.
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
      var categoryOverride = "home" || null;
      var nameOverride     = null;
      var pageUrlParts = "/".split('/').slice(1, -1);
      // store as globals to read off of it later in analytics.js
      window.analyticsPageProperties = {
      categoryOverride: categoryOverride,
      nameOverride: nameOverride,
      pageUrlParts: pageUrlParts,
      };
      }}();
    style#CookieConsentStateDisplayStyles(type='text/css').
      .cookieconsent-optin-preferences,.cookieconsent-optin-statistics,.cookieconsent-optin-marketing,.cookieconsent-optin{display:none;}.cookieconsent-optout-preferences,.cookieconsent-optout-statistics,.cookieconsent-optout-marketing,.cookieconsent-optout{display:block;display:initial;}
    script(type='text/plain', data-cookieconsent='statistics').
      analytics.load("AbgkrgN4cbRhAVEwlzMkHbwvrXnxHh35");
    // Begin Jekyll SEO tag v2.0.0
    title homepage
    meta(content='Continuous Integration and Delivery', property='og:title')
    meta(name='description', content='CircleCI’s continuous integration and delivery platform makes it easy for teams of all sizes to rapidly build and release quality software at scale.  Build for Linux, macOS, and Android, in the cloud or behind your firewall.')
    meta(content='CircleCI’s continuous integration and delivery platform makes it easy for teams of all sizes to rapidly build and release quality software at scale.  Build for Linux, macOS, and Android, in the cloud or behind your firewall.', property='og:description')
    link(href='https://circleci.com/', rel='canonical')
    meta(content='https://circleci.com/', property='og:url')
    meta(content='CircleCI', property='og:site_name')
    meta(content='https://circleci.com/circleci-logo-horizontal-twitter.png', property='og:image')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@circleci')
    script(type='application/ld+json').
      {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "CircleCI",
      "headline": "Continuous Integration and Delivery",
      "image": "https://circleci.com/circleci-logo-horizontal-twitter.png",
      "description": "CircleCI’s continuous integration and delivery platform makes it easy for teams of all sizes to rapidly build and release quality software at scale.  Build for Linux, macOS, and Android, in the cloud or behind your firewall.",
      "logo": "https://circleci.com/circleci-logo-stacked-fb.png",
      "sameAs": ["https://www.facebook.com/circleci","https://twitter.com/circleci","https://github.com/circleci","https://www.linkedin.com/company/circleci"],
      "url": "https://circleci.com/"
      }
    // End Jekyll SEO tag
  body.page-home
    noscript
      iframe(width='0', height='0', src='//www.googletagmanager.com/ns.html?id=GTM-W9HDVK', style='display:none;visibility:hidden')
    script(type='text/plain', data-cookieconsent='marketing').
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-W9HDVK');
    nav.nav-toggle.two
      .container
        .row
          .col-md-12
            .widescreen
              a(href='/', data-analytics='top-nav-logo')
                img.logo(alt='Home', src='../img/logo.jpg ')
              ul.left-links.main-nav
                li.nav-item
                  a(href='/pages/charts', data-analytics='top-nav-product') 可视化展示
                  .submenu
                    ul.subnav(data-analytics='topnav-product-clicked')
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/charts') 总览
                      li.subnav-item(data-analytics='top-nav-product-how-it-works')
                        a(href='/users/scatter') 五年内全美各类型犯罪统计
                      li.subnav-item(data-analytics='top-nav-product-features')
                        a(href='/users/pie') 犯罪类型统计
                      //- li.subnav-item(data-analytics='top-nav-product-features')
                      //-   a(href='/users/pie2016') PIE2016TEST
                      li.subnav-item(data-analytics='top-nav-product-build-environments')
                        a(href='/users/usa') 各州犯罪率统计
                      li.subnav-item(data-analytics='top-nav-product-hosting-options')
                        a(href='/users/bar') 城市犯罪率
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/Gun') 全美武器流通图
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/Heat') 全美热力图
                      // <li class="subnav-item" data-analytics="top-nav-product-integrations"><a href="/integrations/">Integrations</a></li>
                li.nav-item
                  a(href='/pages/analysis', data-analytics='top-nav-product')| GIS分析
                  .submenu
                    ul.subnav(data-analytics='topnav-product-clicked')
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/usanew') 警力分布预测
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/usanew2') 2017年暴力事件犯罪率
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/molan') 局部莫兰指数与批捕率的关系
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/ae') arcengine操作实录
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/youtube') 三维视频播放
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/SDcities') 最危险与最安全的五个州
                      
                  .submenu
                li.nav-item(data-analytics='top-nav-pricing')
                  a(href='/pages/OurTeam') 我们的团队
              ul.right-links.main-nav(style='display: block;')
                //- li.default-item.nav-item
                //-   a(href='direction.html', data-analytics='top-nav-contact-us') 网站说明
                li.divider-left.nav-item.visitor-item
                  a(href='/users/login', data-analytics='top-nav-login', data-hj-masked='') 登录
                li.nav-item.visitor-item
                  a.btn-primary.small(href='users/reg', data-analytics='top-nav-signup', data-analytics-action='signup-clicked', data-analytics-location='nav', data-optimizely='signup_button_clicked')
                    | 注册
                li.dashboard-link.desktop-nav.divider-left
                  a(href='/dashboard', data-analytics='top-nav-go-to-app') Go to app
            .narrowscreen
              button.navbar-toggle.collapsed(aria-expanded='false', aria-controls='#mobile-navigation', type='button', data-target='#mobile-navigation', data-toggle='collapse')
                span.sr-only Toggle navigation
                span.icon-bar.top-bar
                span.icon-bar.middle-bar
                span.icon-bar.bottom-bar
              a(href='/', data-analytics='top-nav-logo')
                img.logo(alt='CircleCI Home', src='../img/logo.jpg')
              span.login
                a.mobile-nav.signup.visitor-item(href='/users/login', data-analytics='top-nav-login', data-hj-masked='', data-analytics-location='nav') 登录
                a.dashboard-link.mobile-nav(href='/dashboard', data-analytics='top-nav-go-to-app') Go to app
              ul#mobile-navigation.dropdown-menu2
                li
                  a.btn-primary(href='/users/reg', data-analytics='top-nav-signup', data-analytics-action='signup-clicked', data-optimizely='signup_button_clicked') 注册
                li.arrow.collapsed.border-bottom
                  span.heading(data-analytics='top-nav-product')
                    i.fa.fa-angle-right(aria-hidden='true')
                    |                 可视化展示
                  ul.subnav
                      li.subnav-item(data-analytics='top-nav-product-how-it-works')
                        a(href='/users/scatter') 全美暴力犯罪情况
                      li.subnav-item(data-analytics='top-nav-product-features')
                        a(href='/users/pie') 犯罪类型统计
                      //- li.subnav-item(data-analytics='top-nav-product-features')
                      //-   a(href='/users/pie2016') PIE2016TEST
                      li.subnav-item(data-analytics='top-nav-product-build-environments')
                        a(href='/users/usa') 谋杀案件数量与武器持有的关系
                      li.subnav-item(data-analytics='top-nav-product-hosting-options')
                        a(href='/users/bar') 城市犯罪率
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/Gun') 全美武器流通图
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/Heat') 全美热力图
                    // <li class="subnav-item" data-analytics="top-nav-developer-integrations"><a href="/integrations/">Integrations</a></li>
                li.arrow.collapsed.border-bottom
                  span.heading
                    i.fa.fa-angle-right(aria-hidden='true')
                    |                 GIS分析
                  ul.subnav(data-analytics='topnav-product-clicked')
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/usanew') 警力分布预测
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/usanew2') 2017年暴力事件犯罪率
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/molan') 局部莫兰指数与批捕率的关系
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/ae') arcengine操作实录
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/youtube') 三维视频播放
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/SDcities') 最危险与最安全的五个州
                      li.subnav-item(data-analytics='top-nav-product-overview')
                li.border-bottom(data-analytics='top-nav-pricing')
                  a(href='pages/OurTeam') 我们的团队
    main
      // Banner /
      .component.banner.inverted.margin-top-medium.noncustomers-only.small(style='display: block;')
        .container.text-center
          .row
            .col-md-10.col-md-offset-1
              .small-banner-wrap
                p.no-pad.no-margin
                  strong
                  |  美国犯罪地理分析可视化 
                  a.arrow(href='pages/charts', target='blank', data-optimizely='homepage-download-report-banner')
                    | 立即查看 
                    i.fa.fa-arrow-right(aria-hidden='true')
      // Inline lightbox content; necessary for custom layout. /
      // Currently, there are two versions for A/B testing. /
      #lightbox-A.lity-hide
        .container
          .row
            .col-md-12
              //iframe(width='560', height='450', src='http://www.iqiyi.com/w_19s0g6z1s9.html', frameborder='0', allowfullscreen='', style='width:100%;', allow='autoplay; encrypted-media')
          .row.margin-top-medium
            .col-md-12
              .row
                .col-md-3.col-md-offset-3.col-sm-4.col-sm-offset-2
                  a.btn-primary.full-width(href='pages/charts', data-optimizely='build-now-clicked') 进入应用
                .col-md-3.col-sm-4
                  a.btn-secondary.full-width(href='pages/OurTeam', data-optimizely='contact-us-clicked') 关于我们
      #lightbox-B.lity-hide
        .container
          .row
            .col-md-9.col-sm-12
              //iframe(width='560', height='450', src='http://www.iqiyi.com/w_19s0g6z1s9.html', frameborder='0', allowfullscreen='', style='width:100%;', allow='autoplay; encrypted-media')
            .col-md-3
              .row
                .col-md-12
                  h4.text-white.margin-bottom-small Sign up with CircleCI
                  a.btn-primary(href='pages/charts', data-optimizely='build-now-clicked') 进入应用
                  hr.margin-vertical-small.dark
                  h4.text-white.margin-bottom-small Want our team to get in touch?
                  a.btn-secondary(href='pages/OurTeam', data-optimizely='contact-us-clicked') 关于我们
      .component.hero.noncustomers-only.inverted(style='display: block;')
        .container
          .row.margin-top-large
            .col-md-5.col-md-push-8
              .hidden-xs.hidden-sm
                //img.img-circle(src='/img/avatar.jpg')
                //a.play(href='#lightbox-A', data-analytics-action='promo-video-clicked', data-optimizely='homepage-play-video', data-lity-video='', data-lity='')
                  img.hero-main-image(src='image0.jpg')
                //a.vid-title.bold.text-center.full-width.text-blue(href='#lightbox-A', data-analytics-action='promo-video-clicked', data-optimizely='homepage-play-video', data-lity-video='', data-lity='') 实例精选
            .col-md-7.col-md-pull-4
              h1
                | 基于GIS可视化的 
                br.visible-lg
                | 美国犯罪率分析
              .row
                .col-sm-2.col-sm-offset-0.col-xs-8.col-xs-offset-2
                  hr.blue-highlight.full-width
                .optimizely-alternate.removed
                  .visible-xs.visible-sm
                    .col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
                      a.play(href='#lightbox-A', data-analytics-action='promo-video-clicked', data-optimizely='homepage-play-video', data-lity-video='', data-lity='')
                        img.hero-main-image(src='https://d3r49iyjzglexf.cloudfront.net/illustrations/illu_homepage_studioiv-042b87b2f41fe6d0c5943b12f6cd1ff2a227dc84e3a7e76f2b8d57c05f1b1da4.png')
                      a.vid-title.bold.text-center.full-width.text-blue(href='#lightbox-A', data-analytics-action='promo-video-clicked', data-optimizely='homepage-play-video', data-lity-video='', data-lity='') See how CircleCI works
              .row.margin-top-small
                .col-md-10
                  p.large.hero-txt
                    | 直观展示美国犯罪的时空分布，清晰显示不同犯罪类型的高发区域。
              .margin-top-small
                .molecule.btn-pair
                  .row
                    .text-center-small.col-sm-12
                      a.btn-primary.screen-sm-margin-bottom-small.screen-md-up-margin-right-small(href='pages/charts', data-optimizely='homepage-build-for-free')
                        | 进入应用
                      a.btn-secondary.dark(href='pages/OurTeam', data-optimizely='homepage-explore-docs')
                        | 关于我们
              .optimizely-default.visible-xs.visible-sm
                hr.dark
                .visible-xs.visible-sm
                  .col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
                   //a.play(href='#lightbox-A', data-analytics-action='promo-video-clicked', data-optimizely='homepage-play-video', data-lity-video='', data-lity='')
                      img.hero-main-image(src='image0.jpg')
                   // a.vid-title.bold.text-center.full-width.text-blue(href='#lightbox-A', data-analytics-action='promo-video-clicked', data-optimizely='homepage-play-video', data-lity-video='', data-lity='') 实例精选
      // LOGGED-IN HERO /
      // Inline lightbox content; necessary for custom layout. /
      // Currently, there are two versions for A/B testing. /
      .component.hero.inverted.removed.customers-only(style='display: none;')
        .container
          .row.margin-top-medium.text-center.margin-bottom-medium
            .col-md-10.col-md-offset-1
              h1 Simplified configuration, ready for scale
              .row
                .col-xs-4.col-xs-offset-4.col-sm-2.col-sm-2.col-sm-offset-5
                  hr.full-width.blue-highlight
              p.large.margin-top-small
                | Harness the power of CircleCI Orbs: shareable packages of CircleCI configuration. Use, create, and share pre-defined commands, executors, and jobs across teams and projects.
              .removed
                .auth
                  .row
                    .col-md-6
                      .auth-button-github.btn-group
                        a.auth-button.btn-primary.img(href='/login', data-analytics-action='vcs-authorize-clicked', data-optimizely='authorize_github_clicked', data-analytics-vcs-scope='private', data-analytics-vcs-type='github')
                          .logo-container
                            img.logo-icon(alt='GitHub Logo', src='https://d3r49iyjzglexf.cloudfront.net/logos-external/github-green-d4ffdf4f5afe9cda0a41891daa5945de84148733444db6062f208d87ea7d24ca.svg')
                          span
                            | Sign Up with GitHub
                        .btn-group.login-btn-wrap.dropdown
                          button.btn-primary.dropdown-toggle(type='button', data-target-dropdown='auth-dropdown', data-action='toggle-dropdown')
                            span.caret
                          ul.dropdown-menu(data-dropdown='auth-dropdown')
                            li
                              a(href='/login', data-analytics-action='vcs-authorize-clicked', data-optimizely='authorize_github_clicked', data-analytics-vcs-scope='private', data-analytics-vcs-type='github')
                                | All Repos
                            li
                              a(href='/login-public', data-analytics-action='vcs-authorize-clicked', data-optimizely='authorize_github_clicked', data-analytics-vcs-scope='public', data-analytics-vcs-type='github')
                                | Public Repos Only
                    .col-md-6
                      .login-btn-wrap
                        a.auth-button.bitbucket.btn-primary.img.full-width(href='/bitbucket-login', data-analytics-action='vcs-authorize-clicked', data-optimizely='authorize_bitbucket_clicked', data-analytics-vcs-type='bitbucket')
                          .logo-container
                            img.logo-icon(alt='Bitbucket Logo', src='https://d3r49iyjzglexf.cloudfront.net/logos-external/bitbucket-bg-blue-3a8ffeb18fd5696a6e757003eab149c870171bc9fe23bd65ca3ce782bbc2626c.svg')
                          span
                            | Log In with Bitbucket
              .margin-top-medium.text-center-small
                a.btn-primary(href='/orbs/registry/') See the Orb Registry
      .molecule.divider.inverted
        .container
          .row.margin-top-medium
            .col-md-12
              hr
      //
        <div class="molecule logos-external-hero inverted">
        <div class="container">
        <div class="row">
        <div class="col-xs-12">
        <div class="horizontal-logos-flex-container">
        <img src="https://d3r49iyjzglexf.cloudfront.net/components/logos/logo-facebook-21c9b557a0256613f839560620126015f8823dbbce5d16c84b9c0b3e8d77b883.svg" alt="facebook">
        <img src="https://d3r49iyjzglexf.cloudfront.net/components/logos/logo-segment-dcc655d0f6899ccb7c830f8db971d2762b7707fe42fca029fed6426d31be28bd.svg" alt="segment">
        <img src="https://d3r49iyjzglexf.cloudfront.net/components/logos/logo-kickstarter-87ca874fc4d775bcd1ee09e9d9e545c239ff539b19ed83416923f7be8514ec30.svg" alt="kickstarter">
        <img src="https://d3r49iyjzglexf.cloudfront.net/components/logos/logo-percolate-58c6d30556bc6983f710297804ef0d4c25d2a0142061455f02b4ddce7f03944f.svg" alt="percolate">
        <img src="https://d3r49iyjzglexf.cloudfront.net/components/logos/logo-spotify-7607572ee7f5699b7299b34b4a20256085d7287b089f106a70bea5f8e2ceffed.svg" alt="spotify">
        <img src="https://d3r49iyjzglexf.cloudfront.net/components/logos/logo-gopro-dda4ae6f4f555c84d34925fc52712808c46144d4804f0299263695b149b6cfd8.svg" alt="gopro">
        </div>
        </div>
        </div>
        </div>
        </div>
      script(type='text/plain', data-cookieconsent='statistics').
        var _rollbarConfig = {
        accessToken: '8a5b4f362a9944b09353878fbbf882f5',
        captureUncaught: true,
        captureUnhandledRejections: true,
        payload: { environment: "production" }
        };
        // Rollbar Snippet
        !function(r){function e(n){if(o[n])return o[n].exports;var t=o[n]={exports:{},id:n,loaded:!1};return r[n].call(t.exports,t,t.exports,e),t.loaded=!0,t.exports}var o={};return e.m=r,e.c=o,e.p="",e(0)}([function(r,e,o){"use strict";var n=o(1),t=o(4);_rollbarConfig=_rollbarConfig||{},_rollbarConfig.rollbarJsUrl=_rollbarConfig.rollbarJsUrl||"https://cdnjs.cloudflare.com/ajax/libs/rollbar.js/2.4.6/rollbar.min.js",_rollbarConfig.async=void 0===_rollbarConfig.async||_rollbarConfig.async;var a=n.setupShim(window,_rollbarConfig),l=t(_rollbarConfig);window.rollbar=n.Rollbar,a.loadFull(window,document,!_rollbarConfig.async,_rollbarConfig,l)},function(r,e,o){"use strict";function n(r){return function(){try{return r.apply(this,arguments)}catch(r){try{console.error("[Rollbar]: Internal error",r)}catch(r){}}}}function t(r,e){this.options=r,this._rollbarOldOnError=null;var o=s++;this.shimId=function(){return o},"undefined"!=typeof window&&window._rollbarShims&&(window._rollbarShims[o]={handler:e,messages:[]})}function a(r,e){if(r){var o=e.globalAlias||"Rollbar";if("object"==typeof r[o])return r[o];r._rollbarShims={},r._rollbarWrappedError=null;var t=new p(e);return n(function(){e.captureUncaught&&(t._rollbarOldOnError=r.onerror,i.captureUncaughtExceptions(r,t,!0),i.wrapGlobals(r,t,!0)),e.captureUnhandledRejections&&i.captureUnhandledRejections(r,t,!0);var n=e.autoInstrument;return e.enabled!==!1&&(void 0===n||n===!0||"object"==typeof n&&n.network)&&r.addEventListener&&(r.addEventListener("load",t.captureLoad.bind(t)),r.addEventListener("DOMContentLoaded",t.captureDomContentLoaded.bind(t))),r[o]=t,t})()}}function l(r){return n(function(){var e=this,o=Array.prototype.slice.call(arguments,0),n={shim:e,method:r,args:o,ts:new Date};window._rollbarShims[this.shimId()].messages.push(n)})}var i=o(2),s=0,d=o(3),c=function(r,e){return new t(r,e)},p=function(r){return new d(c,r)};t.prototype.loadFull=function(r,e,o,t,a){var l=function(){var e;if(void 0===r._rollbarDidLoad){e=new Error("rollbar.js did not load");for(var o,n,t,l,i=0;o=r._rollbarShims[i++];)for(o=o.messages||[];n=o.shift();)for(t=n.args||[],i=0;i<t.length;++i)if(l=t[i],"function"==typeof l){l(e);break}}"function"==typeof a&&a(e)},i=!1,s=e.createElement("script"),d=e.getElementsByTagName("script")[0],c=d.parentNode;s.crossOrigin="",s.src=t.rollbarJsUrl,o||(s.async=!0),s.onload=s.onreadystatechange=n(function(){if(!(i||this.readyState&&"loaded"!==this.readyState&&"complete"!==this.readyState)){s.onload=s.onreadystatechange=null;try{c.removeChild(s)}catch(r){}i=!0,l()}}),c.insertBefore(s,d)},t.prototype.wrap=function(r,e,o){try{var n;if(n="function"==typeof e?e:function(){return e||{}},"function"!=typeof r)return r;if(r._isWrap)return r;if(!r._rollbar_wrapped&&(r._rollbar_wrapped=function(){o&&"function"==typeof o&&o.apply(this,arguments);try{return r.apply(this,arguments)}catch(o){var e=o;throw e&&("string"==typeof e&&(e=new String(e)),e._rollbarContext=n()||{},e._rollbarContext._wrappedSource=r.toString(),window._rollbarWrappedError=e),e}},r._rollbar_wrapped._isWrap=!0,r.hasOwnProperty))for(var t in r)r.hasOwnProperty(t)&&(r._rollbar_wrapped[t]=r[t]);return r._rollbar_wrapped}catch(e){return r}};for(var u="log,debug,info,warn,warning,error,critical,global,configure,handleUncaughtException,handleUnhandledRejection,captureEvent,captureDomContentLoaded,captureLoad".split(","),f=0;f<u.length;++f)t.prototype[u[f]]=l(u[f]);r.exports={setupShim:a,Rollbar:p}},function(r,e){"use strict";function o(r,e,o){if(r){var t;if("function"==typeof e._rollbarOldOnError)t=e._rollbarOldOnError;else if(r.onerror){for(t=r.onerror;t._rollbarOldOnError;)t=t._rollbarOldOnError;e._rollbarOldOnError=t}var a=function(){var o=Array.prototype.slice.call(arguments,0);n(r,e,t,o)};o&&(a._rollbarOldOnError=t),r.onerror=a}}function n(r,e,o,n){r._rollbarWrappedError&&(n[4]||(n[4]=r._rollbarWrappedError),n[5]||(n[5]=r._rollbarWrappedError._rollbarContext),r._rollbarWrappedError=null),e.handleUncaughtException.apply(e,n),o&&o.apply(r,n)}function t(r,e,o){if(r){"function"==typeof r._rollbarURH&&r._rollbarURH.belongsToShim&&r.removeEventListener("unhandledrejection",r._rollbarURH);var n=function(r){var o,n,t;try{o=r.reason}catch(r){o=void 0}try{n=r.promise}catch(r){n="[unhandledrejection] error getting `promise` from event"}try{t=r.detail,!o&&t&&(o=t.reason,n=t.promise)}catch(r){t="[unhandledrejection] error getting `detail` from event"}o||(o="[unhandledrejection] error getting `reason` from event"),e&&e.handleUnhandledRejection&&e.handleUnhandledRejection(o,n)};n.belongsToShim=o,r._rollbarURH=n,r.addEventListener("unhandledrejection",n)}}function a(r,e,o){if(r){var n,t,a="EventTarget,Window,Node,ApplicationCache,AudioTrackList,ChannelMergerNode,CryptoOperation,EventSource,FileReader,HTMLUnknownElement,IDBDatabase,IDBRequest,IDBTransaction,KeyOperation,MediaController,MessagePort,ModalWindow,Notification,SVGElementInstance,Screen,TextTrack,TextTrackCue,TextTrackList,WebSocket,WebSocketWorker,Worker,XMLHttpRequest,XMLHttpRequestEventTarget,XMLHttpRequestUpload".split(",");for(n=0;n<a.length;++n)t=a[n],r[t]&&r[t].prototype&&l(e,r[t].prototype,o)}}function l(r,e,o){if(e.hasOwnProperty&&e.hasOwnProperty("addEventListener")){for(var n=e.addEventListener;n._rollbarOldAdd&&n.belongsToShim;)n=n._rollbarOldAdd;var t=function(e,o,t){n.call(this,e,r.wrap(o),t)};t._rollbarOldAdd=n,t.belongsToShim=o,e.addEventListener=t;for(var a=e.removeEventListener;a._rollbarOldRemove&&a.belongsToShim;)a=a._rollbarOldRemove;var l=function(r,e,o){a.call(this,r,e&&e._rollbar_wrapped||e,o)};l._rollbarOldRemove=a,l.belongsToShim=o,e.removeEventListener=l}}r.exports={captureUncaughtExceptions:o,captureUnhandledRejections:t,wrapGlobals:a}},function(r,e){"use strict";function o(r,e){this.impl=r(e,this),this.options=e,n(o.prototype)}function n(r){for(var e=function(r){return function(){var e=Array.prototype.slice.call(arguments,0);if(this.impl[r])return this.impl[r].apply(this.impl,e)}},o="log,debug,info,warn,warning,error,critical,global,configure,handleUncaughtException,handleUnhandledRejection,_createItem,wrap,loadFull,shimId,captureEvent,captureDomContentLoaded,captureLoad".split(","),n=0;n<o.length;n++)r[o[n]]=e(o[n])}o.prototype._swapAndProcessMessages=function(r,e){this.impl=r(this.options);for(var o,n,t;o=e.shift();)n=o.method,t=o.args,this[n]&&"function"==typeof this[n]&&("captureDomContentLoaded"===n||"captureLoad"===n?this[n].apply(this,[t[0],o.ts]):this[n].apply(this,t));return this},r.exports=o},function(r,e){"use strict";r.exports=function(r){return function(e){if(!e&&!window._rollbarInitialized){r=r||{};for(var o,n,t=r.globalAlias||"Rollbar",a=window.rollbar,l=function(r){return new a(r)},i=0;o=window._rollbarShims[i++];)n||(n=o.handler),o.handler._swapAndProcessMessages(l,o.messages);window[t]=n,window._rollbarInitialized=!0}}}}]);
        // End Rollbar Snippet
      script(src='https://d3r49iyjzglexf.cloudfront.net/app-98d5a0536b3e69277d0c4816b7b34d078f8b3ad981c0f1d4a21bcdae7bd917af.js', type='text/javascript')
      script(src='https://d3r49iyjzglexf.cloudfront.net/vendor-4e3949df6160e0cc7fa371dd028b9956d24410f3226a57e5244a4c7b8392a493.js', type='text/javascript')
      script(src='https://d3r49iyjzglexf.cloudfront.net/modal-objects-a91f54eb7d680284610fa6b97bc71db839392f6917d2a80914916103313c43d4.js', type='text/javascript')
      script(src='https://d3r49iyjzglexf.cloudfront.net/site-5f6dd931d2d42f62d6c28b269f72caf9786a9bf34209b7d14edc6a5635e5d503.js', type='text/javascript')
      script(src='https://d3r49iyjzglexf.cloudfront.net/utils-53623527c070275ebb104d82432351d1795c63e34d3689f4cdaafeb3774305c3.js', type='text/javascript')
      script(src='https://d3r49iyjzglexf.cloudfront.net/components/analytics-c1ae5da85f65bac0c36d00ef258ace343facdb19ac46b0ac02fa7e54a46ec512.js', type='text/plain', data-cookieconsent='marketing')
      script(src='https://d3r49iyjzglexf.cloudfront.net/components/nav-012f81c14850818593969fb3adcb651d94e0dad60a21706bb607643aa84f61c7.js', type='text/javascript')
      script(src='https://d3r49iyjzglexf.cloudfront.net/components/customFormFields-4cd69117bb1ef5e6121e341cc4e84c77676d5aa4d79fcf1f7b736db6c2480f90.js', type='text/javascript')
      script(src='https://d3r49iyjzglexf.cloudfront.net/ab-testing-f001106a94811fd7aa85c9b5c9fe6d7c827bc05058df9a84dc17cefaab3bb293.js', type='text/javascript')
      script(src='https://d3r49iyjzglexf.cloudfront.net/pages/page-signup-fc28ba4b3efb742a6dd0e05c091b1d3f9b4ebb1644434107e2507ed22e996952.js', type='text/javascript')
