doctype html
html(lang='zh-CN')
  head
    meta(charset='utf-8')
    title 注册
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Bootstrap是Twitter推出的一个用于前端开发的开源工具包。它由Twitter的设计师Mark Otto和Jacob Thornton合作开发，是一个CSS/HTML框架。目前，Bootstrap最新版本为3.0 。Bootstrap中文网致力于为广大国内开发者提供详尽的中文文档、代码实例等，助力开发者掌握并使用这一框架。')
    meta(name='keywords', content='Bootstrap,CSS,CSS框架,CSS framework,javascript,bootcss,bootstrap开发,bootstrap代码,bootstrap入门')
    meta(name='author', content='Bootstrap中文网')
    meta(name='robots', content='index,follow')
    meta(name='application-name', content='bootcss.com')
    meta(content='1603466166416277433363757477167', property='qc:admins')
    // Site CSS
    link(href='images/style.css', rel='stylesheet', type='text/css')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='/assets/css/site.min.css?1539973179973', rel='stylesheet')
    style.
      .job-hot {
      position: absolute;
      color: #d9534f;
      right: 0;
      top: 15px;
      }
      .a{
      height:100%;
      width:100%;
      background-image:url(timg.jpg);
      background-repeat:no-repeat;
      text-align: center;
      left:50px;
      }
    link(href='https://assets.bootcss.com/www/assets/ico/apple-touch-icon-precomposed.png?1539973179973', rel='apple-touch-icon-precomposed')
    link(href='https://assets.bootcss.com/www/assets/ico/favicon.png?1539973179973', rel='shortcut icon')
    script.
      var _hmt = _hmt || [];
    link(href='http://www.bootcss.com/', rel='canonical')
    script.
      var qqgroup = '318630708';
    // 居中
    style.
      body{text-align:center}
    // head new 2018.11.3
    script#twitter-wjs(src='https://platform.twitter.com/widgets.js')
    script(type='text/javascript', charset='UTF-8', async='', src='https://consent.cookiebot.com/a28b71f3-4d2e-4eac-93bc-34929948dd7d/cc.js?renew=false&referer=circleci.com&dnt=false&forceshow=false&cbid=a28b71f3-4d2e-4eac-93bc-34929948dd7d&whitelabel=false&brandid=Cookiebot')
    script(type='text/javascript').
      window.thirdPartyIds = {
      quantcast: "p-amMve9wcqXH81"
      };
    script#Cookiebot(src='https://consent.cookiebot.com/uc.js', data-cbid='a28b71f3-4d2e-4eac-93bc-34929948dd7d', type='text/javascript', async='')
    script(src='https://cdn.optimizely.com/js/8188917468.js', data-cookieconsent='statistics', type='text/plain')
    meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
    meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    link(href='/blog/feed.xml', type='application/rss+xml', rel='alternate', title='Latest 10 blog posts (atom)')
    link(href='https://d3r49iyjzglexf.cloudfront.net/favicon-066b37ff00f0f968b903c13ae88b5573b62665aea8fbe91bb61c55dfa9446523.ico', rel='icon', type='image/png')
    // adding canonical links, if they are specified in front matter /
    link(type='text/css', rel='stylesheet', href='https://d3r49iyjzglexf.cloudfront.net/vendor-9c29189e69fd1849e248f4ebeee9b4d097e2073f140f266d2442333948bb61e4.css')
    link(type='text/css', rel='stylesheet', href='https://d3r49iyjzglexf.cloudfront.net/vendors/lity-091d87ddd7c5df1910888ef52fe1a1938d67cfee8c9f9b2b48372e0066f7355a.css')
    link(type='text/css', rel='stylesheet', href='https://d3r49iyjzglexf.cloudfront.net/site-e1e90682e27ce8d36ecfc129588eb129f5a3b3024b51d828e844b17bc1994b01.css')
    script.
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
      var categoryOverride = "home" || null;
      var nameOverride     = null;
      var pageUrlParts = "/".split('/').slice(1, -1);
      // store as globals to read off of it later in analytics.js
      window.analyticsPageProperties = {
      categoryOverride: categoryOverride,
      nameOverride: nameOverride,
      pageUrlParts: pageUrlParts,
      };
      }}();
    style#CookieConsentStateDisplayStyles(type='text/css').
      .cookieconsent-optin-preferences,.cookieconsent-optin-statistics,.cookieconsent-optin-marketing,.cookieconsent-optin{display:none;}.cookieconsent-optout-preferences,.cookieconsent-optout-statistics,.cookieconsent-optout-marketing,.cookieconsent-optout{display:block;display:initial;}
    script(data-cookieconsent='statistics', type='text/plain').
      analytics.load("AbgkrgN4cbRhAVEwlzMkHbwvrXnxHh35");
    // Begin Jekyll SEO tag v2.0.0
    meta(property='og:title', content='Continuous Integration and Delivery')
    meta(name='description', content='CircleCI’s continuous integration and delivery platform makes it easy for teams of all sizes to rapidly build and release quality software at scale.  Build for Linux, macOS, and Android, in the cloud or behind your firewall.')
    meta(property='og:description', content='CircleCI’s continuous integration and delivery platform makes it easy for teams of all sizes to rapidly build and release quality software at scale.  Build for Linux, macOS, and Android, in the cloud or behind your firewall.')
    link(rel='canonical', href='https://circleci.com/')
    meta(property='og:url', content='https://circleci.com/')
    meta(property='og:site_name', content='CircleCI')
    meta(property='og:image', content='https://circleci.com/circleci-logo-horizontal-twitter.png')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@circleci')
    script(type='application/ld+json').
      {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "CircleCI",
      "headline": "Continuous Integration and Delivery",
      "image": "https://circleci.com/circleci-logo-horizontal-twitter.png",
      "description": "CircleCI’s continuous integration and delivery platform makes it easy for teams of all sizes to rapidly build and release quality software at scale.  Build for Linux, macOS, and Android, in the cloud or behind your firewall.",
      "logo": "https://circleci.com/circleci-logo-stacked-fb.png",
      "sameAs": ["https://www.facebook.com/circleci","https://twitter.com/circleci","https://github.com/circleci","https://www.linkedin.com/company/circleci"],
      "url": "https://circleci.com/"
      }
    // End Jekyll SEO tag
  body
    nav.nav-toggle.two
      .container
        .row
          .col-md-12
            .widescreen
              a(href='/', data-analytics='top-nav-logo')
                img.logo(alt='Home', src='../img/logo.jpg ')
              ul.left-links.main-nav
                li.nav-item
                  a(href='/pages/charts', data-analytics='top-nav-product') 可视化展示
                  .submenu
                    ul.subnav(data-analytics='topnav-product-clicked')
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/charts') 总览
                      li.subnav-item(data-analytics='top-nav-product-how-it-works')
                        a(href='/users/scatter') 全美暴力犯罪情况
                      li.subnav-item(data-analytics='top-nav-product-features')
                        a(href='/users/pie') 犯罪类型统计
                      li.subnav-item(data-analytics='top-nav-product-build-environments')
                        a(href='/users/usa') 谋杀案件数量与武器持有的关系
                      li.subnav-item(data-analytics='top-nav-product-hosting-options')
                        a(href='/users/bar') 城市犯罪率
                      // <li class="subnav-item" data-analytics="top-nav-product-integrations"><a href="/integrations/">Integrations</a></li>
                li.nav-item
                  a(href='/pages/analysis', data-analytics='top-nav-product')| GIS分析
                  .submenu
                    ul.subnav(data-analytics='topnav-product-clicked')
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/usanew') 警力分布预测
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/usanew2') 2017年暴力事件犯罪率
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/molan') 局部莫兰指数与批捕率的关系
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/ae') arcengine操作实录
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/youtube') 三维视频播放
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/SDcities') 最危险与最安全的五个州
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/Gun') 全美武器流通图
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/Heat') 全美热力图
                  .submenu
                li.nav-item(data-analytics='top-nav-pricing')
                  a(href='/pages/OurTeam') 我们的团队
              ul.right-links.main-nav(style='display: block;')
                li.default-item.nav-item
                  a(href='direction.html', data-analytics='top-nav-contact-us') 网站说明
                li.divider-left.nav-item.visitor-item
                  a(href='/users/login', data-analytics='top-nav-login', data-hj-masked='') 登录
                li.nav-item.visitor-item
                  a.btn-primary.small(href='/users/reg', data-analytics='top-nav-signup', data-optimizely='signup_button_clicked', data-analytics-location='nav', data-analytics-action='signup-clicked')
                    | 注册
                li.dashboard-link.desktop-nav.divider-left
                  a(href='/dashboard', data-analytics='top-nav-go-to-app') Go to app
            .narrowscreen
              button.navbar-toggle.collapsed(aria-expanded='false', aria-controls='#mobile-navigation', type='button', data-toggle='collapse', data-target='#mobile-navigation')
                span.sr-only Toggle navigation
                span.icon-bar.top-bar
                span.icon-bar.middle-bar
                span.icon-bar.bottom-bar
              a(href='/', data-analytics='top-nav-logo')
                img.logo(alt='CircleCI Home', src='../img/logo.jpg')
              span.login
                a.mobile-nav.signup.visitor-item(href='users/login', data-analytics='top-nav-login', data-hj-masked='', data-analytics-location='nav') 登录
                a.dashboard-link.mobile-nav(href='/dashboard', data-analytics='top-nav-go-to-app') Go to app
              ul#mobile-navigation.dropdown-menu2
                li
                  a.btn-primary(href='users/reg', data-analytics='top-nav-signup', data-optimizely='signup_button_clicked', data-analytics-action='signup-clicked') 注册
                li.arrow.collapsed.border-bottom
                  span.heading(data-analytics='top-nav-product')
                    i.fa.fa-angle-right(aria-hidden='true')
                    |                 可视化展示
                  ul.subnav
                    li.subnav-item(data-analytics='top-nav-product-overview')
                      a(href='/pages/charts') 总览
                    li.subnav-item(data-analytics='top-nav-product-how-it-works')
                      a(href='/users/scatter') 全美暴力犯罪情况
                    li.subnav-item(data-analytics='top-nav-product-features')
                      a(href='/users/pie') 犯罪类型统计
                    li.subnav-item(data-analytics='top-nav-product-build-environments')
                      a(href='/users/usa') 谋杀案件数量与武器持有的关系
                    li.subnav-item(data-analytics='top-nav-product-hosting-options')
                      a(href='/users/bar') 城市犯罪率
                li.arrow.collapsed.border-bottom
                  span.heading
                    i.fa.fa-angle-right(aria-hidden='true')
                    |                 GIS分析
                li.border-bottom(data-analytics='top-nav-pricing')
                  a(href='pages/OurTeam') 我们的团队
    // jumbotron masthead
    .box2(style='background: #202020;height:100%')
      br
      br
      br
      br
      br
      br
      h1(style='color: #CACACA') 美国犯罪情况地理分析
      h2(style='color: #A0A0A0') 可视化&地理分析
      br
      br
      br
.container(style='width:750px')
  form.col-sm-offset-4.col-sm-4.form-horizontal(role='form', method='post')
    fieldset
      .form-group
        label.sr-only(for='username') 用户名
        
        input#username.form-control(type='text', name='username', placeholder='用户名', required='')
      .form-group
        label.sr-only(for='password2') 密码
        
        input#password2.form-control(type='text', name='password2', placeholder='密码', required='')
      .form-group
        label.sr-only(for='password3') 再次输入密码
      
        input#password2.form-control(type='text', name='password3', placeholder='再次输入密码', required='')    
      .form-group
        
        button.btn.btn-primary(type='submit') 注册

br
script(src='https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js')
script(src='https://cdn.jsdelivr.net/npm/jquery-unveil@1.3.2/jquery.unveil.min.js')
script(src='https://cdn.jsdelivr.net/gh/markgoodyear/scrollup@2.4.1/dist/jquery.scrollUp.min.js')
script(src='https://cdn.jsdelivr.net/npm/@firstandthird/toc@1.4.1/dist/toc.min.js')
script(src='https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight-min.js')
script(src='/assets/js/site.min.js?1539973179973')
script.
  $(document).ready(function(){
  $('#qqgroup').text(qqgroup);
  });
a#scrollUp(style='display: none; position: fixed; z-index: 2147483647;', href='#top')
  i.fa.fa-angle-up