html(lang='en')
  head
    meta(charset='utf-8')
    title 全美暴力犯罪情况
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    // Le styles
    link(href='../assets/css/bootstrap.css', rel='stylesheet')
    style(type='text/css').
      #mapid { height: 90%; width:100%}
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
      .sidebar-nav {
      padding: 9px 0;
      }
      @media (max-width: 980px) {
      /* Enable use of floated navbar text */
      .navbar-text.pull-right {
      float: none;
      padding-left: 5px;
      padding-right: 5px;
      }
      }
    link(href='../assets/css/bootstrap-responsive.css', rel='stylesheet')
    // HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='../assets/js/html5shiv.js')
    // 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Bootstrap是Twitter推出的一个用于前端开发的开源工具包。它由Twitter的设计师Mark Otto和Jacob Thornton合作开发，是一个CSS/HTML框架。目前，Bootstrap最新版本为3.0 。Bootstrap中文网致力于为广大国内开发者提供详尽的中文文档、代码实例等，助力开发者掌握并使用这一框架。')
    meta(name='keywords', content='Bootstrap,CSS,CSS框架,CSS framework,javascript,bootcss,bootstrap开发,bootstrap代码,bootstrap入门')
    meta(name='author', content='Bootstrap中文网')
    meta(name='robots', content='index,follow')
    meta(name='application-name', content='bootcss.com')
    meta(content='1603466166416277433363757477167', property='qc:admins')
    // Site CSS
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='/assets/css/site.min.css?1539973179973', rel='stylesheet')
    style.
      .job-hot {
      position: absolute;
      color: #d9534f;
      right: 0;
      top: 15px;
      }
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js')
      script(src='https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js')
    // Favicons
    link(href='https://assets.bootcss.com/www/assets/ico/apple-touch-icon-precomposed.png?1539973179973', rel='apple-touch-icon-precomposed')
    link(href='https://assets.bootcss.com/www/assets/ico/favicon.png?1539973179973', rel='shortcut icon')
    script.
      var _hmt = _hmt || [];
    link(href='http://www.bootcss.com/', rel='canonical')
    script.
      var qqgroup = '318630708';
    // 后续修改为本地文件引用
    link(href='https://unpkg.com/leaflet@1.3.4/dist/leaflet.css', rel='stylesheet', integrity='sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==', crossorigin='')
    // Make sure you put this AFTER Leaflet's CSS
    script(src='https://unpkg.com/leaflet@1.3.4/dist/leaflet.js', crossorigin='', integrity='sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==')
    // Fav and touch icons
    link(href='../assets/ico/apple-touch-icon-144-precomposed.png', rel='apple-touch-icon-precomposed', sizes='144x144')
    link(href='../assets/ico/apple-touch-icon-114-precomposed.png', rel='apple-touch-icon-precomposed', sizes='114x114')
    link(href='../assets/ico/apple-touch-icon-72-precomposed.png', rel='apple-touch-icon-precomposed', sizes='72x72')
    link(href='../assets/ico/apple-touch-icon-57-precomposed.png', rel='apple-touch-icon-precomposed')
    link(href='../assets/ico/favicon.png', rel='shortcut icon')
    // head new 2018.11.3
    script#twitter-wjs(src='https://platform.twitter.com/widgets.js')
    script(src='https://consent.cookiebot.com/a28b71f3-4d2e-4eac-93bc-34929948dd7d/cc.js?renew=false&referer=circleci.com&dnt=false&forceshow=false&cbid=a28b71f3-4d2e-4eac-93bc-34929948dd7d&whitelabel=false&brandid=Cookiebot', type='text/javascript', charset='UTF-8', async='')
    script(type='text/javascript').
      window.thirdPartyIds = {
      quantcast: "p-amMve9wcqXH81"
      };
    script#Cookiebot(src='https://consent.cookiebot.com/uc.js', type='text/javascript', async='', data-cbid='a28b71f3-4d2e-4eac-93bc-34929948dd7d')
    script(src='https://cdn.optimizely.com/js/8188917468.js', type='text/plain', data-cookieconsent='statistics')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    link(title='Latest 10 blog posts (atom)', href='/blog/feed.xml', rel='alternate', type='application/rss+xml')
    link(href='https://d3r49iyjzglexf.cloudfront.net/favicon-066b37ff00f0f968b903c13ae88b5573b62665aea8fbe91bb61c55dfa9446523.ico', rel='icon', type='image/png')
    // adding canonical links, if they are specified in front matter /
    link(href='../assets/css/vender1.css', rel='stylesheet', type='text/css')
    link(href='../assets/css/vender_lity.css', rel='stylesheet', type='text/css')
    link(href='https://d3r49iyjzglexf.cloudfront.net/site-e1e90682e27ce8d36ecfc129588eb129f5a3b3024b51d828e844b17bc1994b01.css', rel='stylesheet', type='text/css')
    script.
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
      var categoryOverride = "home" || null;
      var nameOverride     = null;
      var pageUrlParts = "/".split('/').slice(1, -1);
      // store as globals to read off of it later in analytics.js
      window.analyticsPageProperties = {
      categoryOverride: categoryOverride,
      nameOverride: nameOverride,
      pageUrlParts: pageUrlParts,
      };
      }}();
    style#CookieConsentStateDisplayStyles(type='text/css').
      .cookieconsent-optin-preferences,.cookieconsent-optin-statistics,.cookieconsent-optin-marketing,.cookieconsent-optin{display:none;}.cookieconsent-optout-preferences,.cookieconsent-optout-statistics,.cookieconsent-optout-marketing,.cookieconsent-optout{display:block;display:initial;}
    script(type='text/plain', data-cookieconsent='statistics').
      analytics.load("AbgkrgN4cbRhAVEwlzMkHbwvrXnxHh35");
    // Begin Jekyll SEO tag v2.0.0
    meta(content='Continuous Integration and Delivery', property='og:title')
    meta(name='description', content='CircleCI’s continuous integration and delivery platform makes it easy for teams of all sizes to rapidly build and release quality software at scale.  Build for Linux, macOS, and Android, in the cloud or behind your firewall.')
    meta(content='CircleCI’s continuous integration and delivery platform makes it easy for teams of all sizes to rapidly build and release quality software at scale.  Build for Linux, macOS, and Android, in the cloud or behind your firewall.', property='og:description')
    link(href='https://circleci.com/', rel='canonical')
    meta(content='https://circleci.com/', property='og:url')
    meta(content='CircleCI', property='og:site_name')
    meta(content='https://circleci.com/circleci-logo-horizontal-twitter.png', property='og:image')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@circleci')
    script(type='application/ld+json').
      {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "CircleCI",
      "headline": "Continuous Integration and Delivery",
      "image": "https://circleci.com/circleci-logo-horizontal-twitter.png",
      "description": "CircleCI’s continuous integration and delivery platform makes it easy for teams of all sizes to rapidly build and release quality software at scale.  Build for Linux, macOS, and Android, in the cloud or behind your firewall.",
      "logo": "https://circleci.com/circleci-logo-stacked-fb.png",
      "sameAs": ["https://www.facebook.com/circleci","https://twitter.com/circleci","https://github.com/circleci","https://www.linkedin.com/company/circleci"],
      "url": "https://circleci.com/"
      }
    // End Jekyll SEO tag
  body(style='background: #202020')
    nav.nav-toggle.two
      .container
        .row
          .col-md-12
            .widescreen
              a(href='/', data-analytics='top-nav-logo')
                img.logo(alt='Home', src='../img/logo.jpg ')
              ul.left-links.main-nav
                li.nav-item
                  a(href='/pages/charts', data-analytics='top-nav-product') 可视化展示
                  .submenu
                    ul.subnav(data-analytics='topnav-product-clicked')
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/charts') 总览
                      li.subnav-item(data-analytics='top-nav-product-how-it-works')
                        a(href='/users/scatter') 全美暴力犯罪情况
                      li.subnav-item(data-analytics='top-nav-product-features')
                        a(href='/users/pie') 犯罪类型统计
                      li.subnav-item(data-analytics='top-nav-product-build-environments')
                        a(href='/users/usa') 谋杀案件数量与武器持有的关系
                      li.subnav-item(data-analytics='top-nav-product-hosting-options')
                        a(href='/users/bar') 城市犯罪率
                      // <li class="subnav-item" data-analytics="top-nav-product-integrations"><a href="/integrations/">Integrations</a></li>
                li.nav-item
                  a(href='/pages/analysis', data-analytics='top-nav-product')| GIS分析
                  .submenu
                    ul.subnav(data-analytics='topnav-product-clicked')
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/usanew') 警力分布预测
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/usanew2') 2017年暴力事件犯罪率
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/molan') 局部莫兰指数与批捕率的关系
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/ae') arcengine操作实录
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/youtube') 三维视频播放
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/SDcities') 最危险与最安全的五个州
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/Gun') 全美武器流通图
                      li.subnav-item(data-analytics='top-nav-product-overview')
                        a(href='/pages/Heat') 全美热力图
                  .submenu
                li.nav-item(data-analytics='top-nav-pricing')
                  a(href='/pages/OurTeam') 我们的团队
              ul.right-links.main-nav(style='display: block;')
                li.default-item.nav-item
                  a(href='direction.html', data-analytics='top-nav-contact-us') 网站说明
                li.divider-left.nav-item.visitor-item
                  a(href='/users/login', data-analytics='top-nav-login', data-hj-masked='') 登录
                li.nav-item.visitor-item
                  a.btn-primary.small(href='/users/reg', data-analytics='top-nav-signup', data-analytics-action='signup-clicked', data-analytics-location='nav', data-optimizely='signup_button_clicked')
                    | 注册
                li.dashboard-link.desktop-nav.divider-left
                  a(href='/dashboard', data-analytics='top-nav-go-to-app') Go to app
            .narrowscreen
              button.navbar-toggle.collapsed(aria-expanded='false', aria-controls='#mobile-navigation', type='button', data-target='#mobile-navigation', data-toggle='collapse')
                span.sr-only Toggle navigation
                span.icon-bar.top-bar
                span.icon-bar.middle-bar
                span.icon-bar.bottom-bar
              a(href='/', data-analytics='top-nav-logo')
                img.logo(alt='CircleCI Home', src='../img/logo.jpg')
              span.login
                a.mobile-nav.signup.visitor-item(href='users/login', data-analytics='top-nav-login', data-hj-masked='', data-analytics-location='nav') 登录
                a.dashboard-link.mobile-nav(href='/dashboard', data-analytics='top-nav-go-to-app') Go to app
              ul#mobile-navigation.dropdown-menu2
                li
                  a.btn-primary(href='users/reg', data-analytics='top-nav-signup', data-analytics-action='signup-clicked', data-optimizely='signup_button_clicked') 注册
                li.arrow.collapsed.border-bottom
                  span.heading(data-analytics='top-nav-product')
                    i.fa.fa-angle-right(aria-hidden='true')
                    |                 可视化展示
                  ul.subnav
                    li.subnav-item(data-analytics='top-nav-product-overview')
                      a(href='/pages/charts') 总览
                    li.subnav-item(data-analytics='top-nav-product-how-it-works')
                      a(href='/users/scatter') 全美暴力犯罪情况
                    li.subnav-item(data-analytics='top-nav-product-features')
                      a(href='/users/pie') 犯罪类型统计
                    li.subnav-item(data-analytics='top-nav-product-build-environments')
                      a(href='/users/usa') 谋杀案件数量与武器持有的关系
                    li.subnav-item(data-analytics='top-nav-product-hosting-options')
                      a(href='/users/bar') 城市犯罪率
                    // <li class="subnav-item" data-analytics="top-nav-developer-integrations"><a href="/integrations/">Integrations</a></li>
                li.arrow.collapsed.border-bottom
                  span.heading
                    i.fa.fa-angle-right(aria-hidden='true')
                    |                 GIS分析
                li.border-bottom(data-analytics='top-nav-pricing')
                  a(href='/pages/OurTeam') 我们的团队
    .container-fluid
      .row-fluid
        .col-sm-3.col-md-2.sidebar
          ul.nav.nav-sidebar
            li.active
              a(href='#')
                | YEAR 1998
                span.sr-only (current)
            li
              a(href='#') YEAR 1999
            li
              a(href='#') YEAR 2000
            li
              a(href='#') YEAR 2001
          ul.nav.nav-sidebar
            li
              a(href='') YEAR 2002
            li
              a(href='') YEAR 2003
            li
              a(href='') YEAR 2004
            li
              a(href='') YEAR 2005
            li
              a(href='') YEAR 2006
          ul.nav.nav-sidebar
            li
              a(href='') YEAR 2007
            li
              a(href='') YEAR 2008
            li
              a(href='') YEAR 2009
        .span9
          #mapid.leaflet-container.leaflet-touch.leaflet-retina.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom(tabindex='0', style='position: relative;')
            .leaflet-pane.leaflet-map-pane(style='transform: translate3d(-144px, 28px, 0px);')
              .leaflet-pane.leaflet-tile-pane
                .leaflet-layer(style='z-index: 1; opacity: 1;')
                  .leaflet-tile-container.leaflet-zoom-animated(style='z-index: 18; transform: translate3d(0px, 0px, 0px) scale(1);')
                    img.leaflet-tile(role='presentation', style='width: 256px; height: 256px; transform: translate3d(211px, 193px, 0px); opacity: 1;', alt='', src='https://api.tiles.mapbox.com/v4/mapbox.streets/13/4093/2724.png?access_token=your.mapbox.access.token')
                    img.leaflet-tile(role='presentation', style='width: 256px; height: 256px; transform: translate3d(467px, 193px, 0px); opacity: 1;', alt='', src='https://api.tiles.mapbox.com/v4/mapbox.streets/13/4094/2724.png?access_token=your.mapbox.access.token')
                    img.leaflet-tile(role='presentation', style='width: 256px; height: 256px; transform: translate3d(211px, -63px, 0px); opacity: 1;', alt='', src='https://api.tiles.mapbox.com/v4/mapbox.streets/13/4093/2723.png?access_token=your.mapbox.access.token')
                    img.leaflet-tile(role='presentation', style='width: 256px; height: 256px; transform: translate3d(467px, -63px, 0px); opacity: 1;', alt='', src='https://api.tiles.mapbox.com/v4/mapbox.streets/13/4094/2723.png?access_token=your.mapbox.access.token')
                    img.leaflet-tile(role='presentation', style='width: 256px; height: 256px; transform: translate3d(211px, 449px, 0px); opacity: 1;', alt='', src='https://api.tiles.mapbox.com/v4/mapbox.streets/13/4093/2725.png?access_token=your.mapbox.access.token')
                    img.leaflet-tile(role='presentation', style='width: 256px; height: 256px; transform: translate3d(467px, 449px, 0px); opacity: 1;', alt='', src='https://api.tiles.mapbox.com/v4/mapbox.streets/13/4094/2725.png?access_token=your.mapbox.access.token')
                    img.leaflet-tile(role='presentation', style='width: 256px; height: 256px; transform: translate3d(-45px, 193px, 0px); opacity: 1;', alt='', src='https://api.tiles.mapbox.com/v4/mapbox.streets/13/4092/2724.png?access_token=your.mapbox.access.token')
                    img.leaflet-tile(role='presentation', style='width: 256px; height: 256px; transform: translate3d(723px, 193px, 0px); opacity: 1;', alt='', src='https://api.tiles.mapbox.com/v4/mapbox.streets/13/4095/2724.png?access_token=your.mapbox.access.token')
                    img.leaflet-tile(role='presentation', style='width: 256px; height: 256px; transform: translate3d(-45px, -63px, 0px); opacity: 1;', alt='', src='https://api.tiles.mapbox.com/v4/mapbox.streets/13/4092/2723.png?access_token=your.mapbox.access.token')
                    img.leaflet-tile(role='presentation', style='width: 256px; height: 256px; transform: translate3d(723px, -63px, 0px); opacity: 1;', alt='', src='https://api.tiles.mapbox.com/v4/mapbox.streets/13/4095/2723.png?access_token=your.mapbox.access.token')
                    img.leaflet-tile(role='presentation', style='width: 256px; height: 256px; transform: translate3d(-45px, 449px, 0px); opacity: 1;', alt='', src='https://api.tiles.mapbox.com/v4/mapbox.streets/13/4092/2725.png?access_token=your.mapbox.access.token')
                    img.leaflet-tile(role='presentation', style='width: 256px; height: 256px; transform: translate3d(723px, 449px, 0px); opacity: 1;', alt='', src='https://api.tiles.mapbox.com/v4/mapbox.streets/13/4095/2725.png?access_token=your.mapbox.access.token')
              .leaflet-pane.leaflet-shadow-pane
              .leaflet-pane.leaflet-overlay-pane
              .leaflet-pane.leaflet-marker-pane
              .leaflet-pane.leaflet-tooltip-pane
              .leaflet-pane.leaflet-popup-pane
              .leaflet-proxy.leaflet-zoom-animated(style='transform: translate3d(1.04805e+06px, 697380px, 0px) scale(4096);')
            .leaflet-control-container
              .leaflet-top.leaflet-left
                .leaflet-control-zoom.leaflet-bar.leaflet-control
                  a.leaflet-control-zoom-in(title='Zoom in', role='button', aria-label='Zoom in', href='#') +
                  a.leaflet-control-zoom-out(title='Zoom out', role='button', aria-label='Zoom out', href='#') −
              .leaflet-top.leaflet-right
              .leaflet-bottom.leaflet-left
              .leaflet-bottom.leaflet-right
                .leaflet-control-attribution.leaflet-control
                  a(title='A JS library for interactive maps', href='http://leafletjs.com') Leaflet
                  |  | Map data © 
                  a(href='https://www.openstreetmap.org/') OpenStreetMap
                  |  contributors, 
                  a(href='https://creativecommons.org/licenses/by-sa/2.0/') CC-BY-SA
                  | , Imagery © 
                  a(href='https://www.mapbox.com/') Mapbox
          .row-fluid
            h2(style='color: #A0A0A0') Charts
            div(style='height: 200px;width:100%;background: #A0A0A0', div='', <='')
              // /row
              // /span
              // /row
              hr
              #footer
                .container
                  p.muted.credit Written by Team XXX 2018.10 Wuhan .
        // /.fluid-container
        //
          Le javascript
          ==================================================
        // Placed at the end of the document so the pages load faster
        script(src='../assets/js/jquery.js')
        script(src='../assets/js/bootstrap-transition.js')
        script(src='../assets/js/bootstrap-alert.js')
        script(src='../assets/js/bootstrap-modal.js')
        script(src='../assets/js/bootstrap-dropdown.js')
        script(src='../assets/js/bootstrap-scrollspy.js')
        script(src='../assets/js/bootstrap-tab.js')
        script(src='../assets/js/bootstrap-tooltip.js')
        script(src='../assets/js/bootstrap-popover.js')
        script(src='../assets/js/bootstrap-button.js')
        script(src='../assets/js/bootstrap-collapse.js')
        script(src='../assets/js/bootstrap-carousel.js')
        script(src='../assets/js/bootstrap-typeahead.js')
        // Leaflet
        script.
          var mymap = L.map('mapid').setView([51.505, -0.09], 13);
          L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
          attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
          maxZoom: 18,
          id: 'mapbox.streets',
          accessToken: 'your.mapbox.access.token'
          }).addTo(mymap);
